BasedOnStyle: Google
---
Language: Cpp
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: Never
PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: AfterComma