# CLion cache directory
.idea

# Visual Studio Code cache directory
.vscode

# CLion CMake build directory
cmake-build-debug

# Visual Studio Code CMake build directory
build

# MacOS specific files
.DS_Store
